@using DiamondBet.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
</div>

<h2 class="text-center">This month's User Ranking:</h2>

<vc:user-ranking></vc:user-ranking>