@{
    this.ViewData["Title"] = "Error placing a Bet";
}
<h1>@this.ViewData["Title"]</h1>

<h2 class="text-danger">An error occured while trying to place your bet. Please, check your input and try again.</h2>

<a class="nav-link text-dark" asp-area="" asp-controller="Games" asp-action="UpcomingGames">Go To All Games</a>
