@model DiamondBet.Web.ViewModels.Competitions.CompetitionsListViewModel
@{
    this.ViewData["Title"] = "All Competitions";
}

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success">@this.TempData["Message"]</div>
}

<h1>@this.ViewData["Title"]</h1>


@foreach (var competition in Model.Competitions)
{
    <a class="nav-link text-dark" asp-area="" asp-controller="Competitions" asp-action="ById" asp-route-id="@competition.Id">@competition.Name</a>
}
